{% extends 'Base.html' %}
{%block tittle%}PMS Home{%endblock%}
{%block loginout%}LogOut{%endblock%}
{% block mainContent%}
existing ones
<button id="btn" type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#signup">Add New Poultry </button>

<div class="container ">
    <div class="modal fade " id="signup" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-center" id="exampleModalLabel1">Get connected with us</h1>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form action="/userhome/addNewPoultry" method="POST"  >{% csrf_token %}
              
              <div class="mb-3" >
                <label class="form-label" >Farm Name</label>
                <input type="text" class="form-control name" id="name" name="FarmName"  required minlength="3">
              </div>


              <div class="mb-3">
                <label for="exampleInputChicken" class="form-label" >Total Chicken</label>
                <input type="number" class="form-control email" name="TotalChicken" required>
              </div>

              <div class="mb-3">
                <label for="exampleInputDate" class="form-label"  >Start Date</label>
                <input type="date"  class="form-control" name="date" >
              </div>
              <div class="d-flex justify-content-center">
                <input class="btn btn-dark mx-2" type="reset" value="Reset">
                <button type="submit" class="btn btn-dark">ADD</button>
              </div>
            </form>





          </div>
          <div class="modal-footer d-flex justify-content-center">
            <p>Already have an Account. <span class="text-dark"><a data-bs-toggle="modal"
                  data-bs-target="#loginModal">login</a></span></p>

          </div>
        </div>
      </div>
    </div>
  </div>

{%endblock%}