{% extends 'Base.html' %}
{%block tittle%}PMS Home{%endblock%}
{%block loginout%}LogOut{%endblock%}
{% block mainContent%}
{%load static%}


    <hr class="text-light">
<h1 class="text-center fw-bold  text-light" style="font-style: oblique;">Add Your Quote</h1>
<div class="container d-flex align-items-center justify-content-center">
  <p class="text-center"><button class="btn btn-outline-light rounded-pill" data-bs-toggle="modal" data-bs-target="#addarticle">ADD VIDEO</button></p>
  <p class="text-center"><button class="btn btn-outline-light rounded-pill" data-bs-toggle="modal" data-bs-target="#addquote">ADD QUOTES</button></p>
  <p class="text-center"><button class="btn btn-outline-light rounded-pill" data-bs-toggle="modal" data-bs-target="#addimg">ADD IMAGES</button></p>
</div>







  <hr class="text-light">
<h1 class="text-center fw-bold    text-light" style="font-style:oblique;">Todays Global Quotes !!</h1>
  <hr class="text-light">
  <script>

   
    function previewImage(event) {
 
        const input = event.target;
        const preview = document.getElementById(preview1);
    
        const file = input.files[0];
    
        if (file) {
          
            const reader = new FileReader();
    
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
           reader.readAsDataURL(file);
        } else {
            preview.src = '';
        }
    }
    </script>


 


    
  {% for quote in quotes %}

      <div class="col   my-4  d-flex  flex-column justify-content-between  " style="font-style: oblique;">
    
        <div class="card shadow-sm  text-light ">
          <hr class="text-light">
            <div class="d-flex md-2">
          <div class="d-flex align-items-center mb-3">
            <div class="me-3">
              {% if  quote.user.userinfo.profile_picture %}
              <img class="rounded-circle d-inline-block m-2 " src="{{ quote.user.userinfo.profile_picture.url }}" alt="pp" width="100%"
                height="50">
               {%endif%}
            </div>
            <div class="d-flex flex-column">
              <h5 class=" text-primary my-0 d-inline-block">{{ quote.user}}</h5> 
              <div>
                <small class="text-muted">{{ quote.posted_date }}</small></div> 
              <div>
                
              </div>
            </div>
    
          </div>
       
          <!-- <i class="ps-5 ms-5"></i> -->
          <div class="dropdown ps-5  my-2 me-2" >
            <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Dont wanna see</a></li>
              <li><a class="dropdown-item" href="#">Report</a></li>
              <li><a class="dropdown-item" href="#">IDK</a></li>
            </ul>
          </div>
        </div>
    



    
        </div>
    
    
    
        <div class="card-body  ">
        <br><p class="card-text "> <pre class="fs-5 " style="font-style: oblique;">{{ quote.quote }}</pre></p><br>
       
         
    
    
          <small class="text-muted ms-2 mt-3" style="font-style: oblique;"> 10k likes . 2k comment . 1k share</small>
          <hr class="my-0">
          <div class="d-flex align-items-center justify-content-around  py-3 ">
            <div><img width="20px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth"></div>
            <div><img width="20px" type="button" class="btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" src='{%static "images/comment.jpeg"%}' alt=""></div>
            <div><img width="22px" class="btn-outline-primary" src='{%static "images/save.png"%}' alt="sth"></div>
           

           
            <div class="offcanvas  offcanvas-bottom  text-light" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="height:50vh; background-color: black;">
              <div class="container" >
                
              </div>
              <div class="offcanvas-header   text-light  " >
                <h5 class="offcanvas-title text-center" id="offcanvasBottomLabel ">COMMENT SECTION ON Construction !!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body  container  text-light" >
            

 <div class="modal-body my-0" ">
                    <!-- first comment -->
                    <div >
                      <div class="d-flex align-items-center my-0">
                        <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                            alt="pp" width="100%" height="50">
                        </div>
                        <div class="d-flex flex-column my-0">
    
                          <div>
                            <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                              like</small> . <small class="text-muted">Nov 29,2022</small>
                          </div>
                        </div>
    
                      </div>
                      <p class="fw-light fs-6 lh-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                        esse provident, illum quia error animi veritatis rem voluptas minus, ea magn.</p>
                      <div class="d-flex align-items-center">
                        <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                        </div>
                        <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                        </div>
                          <hr class="text-light">
                      </div>
                    </div>
                      <hr class="text-light">
                    <!-- second comment -->
                    <div>
                      <div class="d-flex align-items-center my-0">
                        <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                            alt="pp" width="100%" height="50">
                        </div>
                        <div class="d-flex flex-column my-0">
    
                          <div>
                            <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                              like</small> . <small class="text-muted">Nov 29,2022</small>
                          </div>
                        </div>
    
                      </div>
                      <p class="fw-light fs-6 lh-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                        esse provident, illum quia error animi veritatis rem voluptas minus, ea magn.</p>
                      <div class="d-flex align-items-center">
                        <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                        </div>
                        <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                        </div>
                          <hr class="text-light">
                      </div>
                    </div>
                      <hr class="text-light">
                    <!-- third comment -->
                    <div>
                      <div class="d-flex align-items-center my-0">
                        <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                            alt="pp" width="100%" height="50">
                        </div>
                        <div class="d-flex flex-column my-0">
    
                          <div>
                            <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                              like</small> . <small class="text-muted">Nov 29,2022</small>
                          </div>
                        </div>
    
                      </div>
                      <p class="fw-light fs-6 lh-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                        esse provident, illum quia error animi veritatis rem voluptas minus, ea magn.</p>
                      <div class="d-flex align-items-center">
                        <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                        </div>
                        <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                        </div>
                          <hr class="text-light">
                      </div>
                    </div>
                      <hr class="text-light">
                    <!-- fourth comment -->
                    <div>
                      <div class="d-flex align-items-center my-0">
                        <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                            alt="pp" width="100%" height="50">
                        </div>
                        <div class="d-flex flex-column my-0">
    
                          <div>
                            <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                              like</small> . <small class="text-muted">Nov 29,2022</small>
                          </div>
                        </div>
    
                      </div>
                      <p class="fw-light fs-6 lh-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                        esse provident, illum quia error animi veritatis rem voluptas minus, ea magn.</p>
                      <div class="d-flex align-items-center">
                        <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                        </div>
                        <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                        </div>
                          <hr class="text-light">
                      </div>
                    </div>
                      <hr class="text-light">
    
    
                  </div>
    
                  </div>
                
                  <div class="modal-footer sticky-bottom  container ">
                    <div class="input-group mb-3 ">
                      <div class="me-3">{% if user_info.profile_picture %}
                        <img class="rounded-circle d-inline-block m-2" src="{{ user_info.profile_picture.url }}" alt="pp" width="100%" height="25">
                    {% endif %}</div>
                      <input type="text" class="form-control" placeholder="Your comment"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-primary" type="button" id="button-addon2">Comment</button>
                    </div>
    
                 
              </div>
            </div>
    
          </div>
        </div>
        <hr class="my-0 text-light">
      </div>
     
      {% endfor %}  


  {% for video in videos %}





<div class="d-none d-sm-block">
  <div id="largedev" class="col   my-4  d-flex  justify-content-between " style="height:100vh;  overflow: hidden;
  ">
      
    <div class="card shadow-sm  text-light m-5 " >
      
  
      <div class=" container mt-5" >
     
  
        <video class="container-fluid  m-5 p-0"  style="max-height: 1090;" id="myVideo" controls onmouseover="playVideo(this)" onmouseout="pauseVideo(this)">
        
        <source src="{{ video.video_file.url }}" type="video/mp4" >
        Your browser does not support the video tag.
    </video>
  
    </div>  
    <script>
      function playVideo(videoElement) {
          videoElement.play();
      }
  
      function pauseVideo(videoElement) {
          videoElement.pause();
      }
  </script>
    
  
    </div>
  
    <div class="card-body m-5 p-5   ">
  <div class="d-flex flex-column ">
  
  
    <hr class="my-0">
    <div class="d-flex " style="font-style: oblique;">
      <div class="d-flex align-items-center">
        
        <div class="me-3">
          {%if video.user.userinfo.profile_picture %}<img class="rounded-circle d-inline-block m-2 " src="{{ video.user.userinfo.profile_picture.url }}" alt="pp" width="100%"
            height="20">{%endif%}
        </div>
        <div class="d-flex flex-column">
          <div>
   
  
            <h6 class="fw-bold d-inline-block col-10 ">{{ video.title }}</h6>
            
        </div>
          <div>
            <h5 class=" text-primary my-0 d-inline-block">{{ video.user}}</h5>
            <small class="text-muted">{{ video.posted_date }}</small>
          </div>
        </div>
  
      </div>
   
      <!-- <i class="ps-5 ms-5"></i> -->
      <div class="dropdown ps-5  my-2 me-2">
        <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Dont wanna see</a></li>
          <li><a class="dropdown-item" href="#">Report</a></li>
          <li><a class="dropdown-item" href="#">IDK</a></li>
        </ul>
      </div>
    </div>
  
  
  
    
    <div>
      <hr class="my-0">
      <h5 class="card-text text-light bold pt-4 overflow text-center" style="overflow-y:scroll ; width:28vw ; height:70px;">{{video.description}}</h5>
      <hr class="my-0">
      <small class="text-muted ms-2" style="font-style: oblique;"> 10k likes . 2k comment . 1k share</small>
      <hr class="my-0">
      <div class="d-flex align-items-center justify-content-around py-3">
        <div><img width="20px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth"><div class="text-light">like</div></div>
        <div><img width="20px" type="button" class="btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" src='{%static "images/comment.jpeg"%}' alt=""><div>comment</div></div>
        <div><img width="22px" class="btn-outline-primary" src='{%static "images/save.png"%}' alt="sth"><div>save</div>
      </div>
     
    </div>
  </div>
  <hr class="m-1">
  <div class="modal-footer sticky-bottom  container ">
    <div class="input-group mb-3 ">
      <div class="me-3"><img class="rounded-circle d-inline-block m-2 " src="{{ video.video_file.url }}" alt="pp"
          width="100%" height="30"></div>
      <input type="text" class="form-control" placeholder="Your comment"
        aria-describedby="button-addon2">
      <button class="btn btn-outline-primary" type="button" id="button-addon2">Comment</button>
    </div>
  </div>
  <hr class="my-0">
  <div id="cmtsection" style="height:510px; overflow-y: scroll;background-color: rgb(12, 11, 11); ">
    <div class="offcanvas-body  container  text-light p-1" >
    
  
      <div class="modal-body my-0" style="font-style: oblique;">
                <!-- first comment -->
                <div >
                  <div class="d-flex align-items-center my-0">
                    <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                        alt="pp" width="100%" height="20">
                    </div>
                    <div class="d-flex flex-column my-0">
      
                      <div>
                        <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                          like</small> . <small class="text-muted">Nov 29,2022</small>
                      </div>
                    </div>
      
                  </div>
                  <p class="fw-light  lh-1 m-0"> <small style="opacity:0.8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repellendus magnam odit, id eveniet, provident animi quasi doloribus iste ad quae possimus earum labore dolorem!</small></p>
                  <div class="d-flex align-items-center">
                    <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                    </div>
                    <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                    </div>
                      <hr class="text-light">
                  </div>
                </div>
                  <hr class="text-light">
                <!-- second comment -->
                <div>
                  <div class="d-flex align-items-center my-0">
                    <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                        alt="pp" width="100%" height="20">
                    </div>
                    <div class="d-flex flex-column my-0">
      
                      <div>
                        <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                          like</small> . <small class="text-muted">Nov 29,2022</small>
                      </div>
                    </div>
      
                  </div>
                  <p class="fw-light  lh-1 m-0"> <small style="opacity:0.8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repellendus magnam odit, id eveniet, provident animi quasi doloribus iste ad quae possimus earum labore dolorem!</small></p>
                  <div class="d-flex align-items-center">
                    <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                    </div>
                    <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                    </div>
                      <hr class="text-light">
                  </div>
                </div>
                  <hr class="text-light">
                <!-- third comment -->
                <div>
                  <div class="d-flex align-items-center my-0">
                    <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                        alt="pp" width="100%" height="20">
                    </div>
                    <div class="d-flex flex-column my-0">
      
                      <div>
                        <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                          like</small> . <small class="text-muted">Nov 29,2022</small>
                      </div>
                    </div>
      
                  </div>
                  <p class="fw-light  lh-1 m-0"> <small style="opacity:0.8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repellendus magnam odit, id eveniet, provident animi quasi doloribus iste ad quae possimus earum labore dolorem!</small></p>
                  <div class="d-flex align-items-center">
                    <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                    </div>
                    <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                    </div>
                      <hr class="text-light">
                  </div>
                </div>
                  <hr class="text-light">
                <!-- fourth comment -->
                <div>
                  <div class="d-flex align-items-center my-0">
                    <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                        alt="pp" width="100%" height="20">
                    </div>
                    <div class="d-flex flex-column my-0">
      
                      <div>
                        <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                          like</small> . <small class="text-muted">Nov 29,2022</small>
                      </div>
                    </div>
      
                  </div>
                  <p class="fw-light  lh-1 m-0"> <small style="opacity:0.8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repellendus magnam odit, id eveniet, provident animi quasi doloribus iste ad quae possimus earum labore dolorem!</small></p>
                  <div class="d-flex align-items-center">
                    <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                    </div>
                    <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                    </div>
                      <hr class="text-light">
                  </div>
                </div>
                  <hr class="text-light">
      
      
              </div>
         
              </div>
          
  </div>
  <hr class="my-0">
  
  
    
          
      </div>
  
  
  
    </div>
    
   
  
  </div>
</div>
<div class="d-block d-sm-none">
  <div id="largedev" class="col   flex-wrap d-flex flex-column  " style="height:100vh;  overflow: hidden;
  ">
      
    <div class="card shadow-sm  text-light " >
      
  
      <div class=" container " >
     
  
        <video class="container-fluid p-0"  style="height: 70vh; width:100%;" id="myVideo" controls>
        
        <source src="{{ video.video_file.url }}" type="video/mp4" >
        Your browser does not support the video tag.
    </video>
  
    </div>  
    <script>
      function playVideo(videoElement) {
          videoElement.play();
      }
  
      function pauseVideo(videoElement) {
          videoElement.pause();
      }
  </script>
    
  
    </div>
  
    <div class="card-body  " style="position:absolute;left:15%;">
  <div class="d-flex flex-column ">
  
  
   
    <div class="d-flex  flex-column "  style="font-style: oblique;">
      <div class="d-flex">
        
        <div class="">
          {%if video.user.userinfo.profile_picture %}<img class="rounded-circle d-inline-block " src="{{ video.user.userinfo.profile_picture.url }}" alt="pp"
            height="20">{%endif%}
        </div>
        <div class="d-flex flex-column">
          <div>
   
  
            <h6 class="fw-bold d-inline-block  ">{{ video.title }}</h6>
            
        </div>
          <div>
            <h5 class=" text-primary my-0 d-inline-block">{{ video.user}}</h5>
            <small class="text-muted">{{ video.posted_date }}</small>
          </div>
        </div>
  
      </div>
   
     
    
    <div style="position:absolute; top:67vh;
    left:10%;width:100%" >
      <small class="text-muted ms-2" style="font-style: oblique;"> 10k likes . 2k comment . 1k share</small>
  
      <div class="d-flex align-items-center justify-content-around py-3">
        <div><img width="20px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth"><div class="text-light">like</div></div>
        <div><img width="20px" type="button" class="btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" src='{%static "images/comment.jpeg"%}' alt=""><div>comment</div></div>
        <div><img width="22px" class="btn-outline-primary" src='{%static "images/save.png"%}' alt="sth"><div>save</div>
      </div>
     
    </div>
  </div>
  


  
  
    
          
      </div>
  
  
  
    </div>
    
   
  
  </div>
  
      
  </div>
</div>

  

  
  
  
  {% endfor %}
  
  {% for img in imgquote %}

  <div class="col   my-4  d-flex  flex-column justify-content-between ">

    <div class="card shadow-sm  text-light ">
      <hr class="text-light">
        <div class="d-flex md-2">
      <div class="d-flex align-items-center mb-3">
        <div class="me-3">
          {%if img.user.userinfo.profile_picture%}<img class="rounded-circle d-inline-block m-2 " src="{{ img.user.userinfo.profile_picture.url }}" alt="pp" width="100%"
            height="50">{%endif%}
        </div>
        <div class="d-flex flex-column">
          <h5 class=" text-primary my-0 d-inline-block">{{ img.user}}</h5> 
          <div>
            <small class="text-muted">{{ img.posted_date }}</small></div> 
          <div>
            
          </div>
        </div>

      </div>
   
      <!-- <i class="ps-5 ms-5"></i> -->
      <div class="dropdown ps-5  my-2 me-2" >
        <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Dont wanna see</a></li>
          <li><a class="dropdown-item" href="#">Report</a></li>
          <li><a class="dropdown-item" href="#">IDK</a></li>
        </ul>
      </div>
    </div>





    </div>



    <div class="card-body  ">
      <div class="d-flex align-items-center justify-content-center">
        <img src="{{ img.imgfile.url }}" alt="img" class="my-5 " width="60%" height="500px">
      </div>


      <small class="text-muted ms-2 mt-3" style="font-style: oblique;"> 10k likes . 2k comment . 1k share</small>
      <hr class="my-0">
      <div class="d-flex align-items-center justify-content-around  py-3 ">
        <div><img width="20px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth"></div>
        <div><img width="20px" type="button" class="btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" src='{%static "images/comment.jpeg"%}' alt=""></div>
        <div><img width="22px" class="btn-outline-primary" src='{%static "images/save.png"%}' alt="sth"></div>
       

       
        <div class="offcanvas  offcanvas-bottom  text-light" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="height:50vh; background-color: black;">
          <div class="container" >
            
          </div>
          <div class="offcanvas-header   text-light  " >
            <h5 class="offcanvas-title text-center" id="offcanvasBottomLabel ">COMMENT</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body  container  text-light" >
        

<div class="modal-body my-0" ">
                <!-- first comment -->
                <div >
                  <div class="d-flex align-items-center my-0">
                    <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                        alt="pp" width="100%" height="50">
                    </div>
                    <div class="d-flex flex-column my-0">

                      <div>
                        <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                          like</small> . <small class="text-muted">Nov 29,2022</small>
                      </div>
                    </div>

                  </div>
                  <p class="fw-light fs-6 lh-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                    esse provident, illum quia error animi veritatis rem voluptas minus, ea magn.</p>
                  <div class="d-flex align-items-center">
                    <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                    </div>
                    <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                    </div>
                      <hr class="text-light">
                  </div>
                </div>
                  <hr class="text-light">
                <!-- second comment -->
                <div>
                  <div class="d-flex align-items-center my-0">
                    <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                        alt="pp" width="100%" height="50">
                    </div>
                    <div class="d-flex flex-column my-0">

                      <div>
                        <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                          like</small> . <small class="text-muted">Nov 29,2022</small>
                      </div>
                    </div>

                  </div>
                  <p class="fw-light fs-6 lh-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                    esse provident, illum quia error animi veritatis rem voluptas minus, ea magn.</p>
                  <div class="d-flex align-items-center">
                    <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                    </div>
                    <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                    </div>
                      <hr class="text-light">
                  </div>
                </div>
                  <hr class="text-light">
                <!-- third comment -->
                <div>
                  <div class="d-flex align-items-center my-0">
                    <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                        alt="pp" width="100%" height="50">
                    </div>
                    <div class="d-flex flex-column my-0">

                      <div>
                        <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                          like</small> . <small class="text-muted">Nov 29,2022</small>
                      </div>
                    </div>

                  </div>
                  <p class="fw-light fs-6 lh-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                    esse provident, illum quia error animi veritatis rem voluptas minus, ea magn.</p>
                  <div class="d-flex align-items-center">
                    <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                    </div>
                    <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                    </div>
                      <hr class="text-light">
                  </div>
                </div>
                  <hr class="text-light">
                <!-- fourth comment -->
                <div>
                  <div class="d-flex align-items-center my-0">
                    <div class="me-3 my-0"><img class="rounded-circle d-inline-block m-2 " src='{%static "images/shadowMe.jpeg"%}'
                        alt="pp" width="100%" height="50">
                    </div>
                    <div class="d-flex flex-column my-0">

                      <div>
                        <h7 class=" text-primary my-0 d-inline-block">kushal1o1</h7> . <small class="">20k
                          like</small> . <small class="text-muted">Nov 29,2022</small>
                      </div>
                    </div>

                  </div>
                  <p class="fw-light fs-6 lh-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                    esse provident, illum quia error animi veritatis rem voluptas minus, ea magn.</p>
                  <div class="d-flex align-items-center">
                    <div class=" me-5">1k <img width="15px" class="btn-outline-primary" src='{%static "images/love.png"%}' alt="sth">
                    </div>
                    <div>4 <img width="15px" type="button" class="btn-outline-primary" src='{%static "images/comment.jpeg"%}' alt="">
                    </div>
                      <hr class="text-light">
                  </div>
                </div>
                  <hr class="text-light">


              </div>

              </div>
            
              <div class="modal-footer sticky-bottom  container ">
                <div class="input-group mb-3 ">
                  <div class="me-3">{% if user_info.profile_picture %}
                    <img class="rounded-circle d-inline-block m-2" src="{{ user_info.profile_picture.url }}" alt="pp" width="100%" height="25">
                {% endif %}</div>
                  <input type="text" class="form-control" placeholder="Your comment"
                    aria-describedby="button-addon2">
                  <button class="btn btn-outline-primary" type="button" id="button-addon2">Comment</button>
                </div>

             
          </div>
        </div>

      </div>
    </div>
    <hr class="my-0 text-light">
  </div>
 
  {% endfor %}  
    
    

<div class="d-flex align-items-center justify-content-around  text-light"> <button type="button" class="btn btn-primary">Load more post <i
  class="bi bi-arrow-down-circle ms-2 align-middle"></i></button></div>
<!-- for new old post -->
<nav class="blog-pagination d-flex justify-content-center  text-light" aria-label="Pagination">
  <a class="btn btn-outline-primary rounded-pill my-2" href="#">Older</a>
  <a class="btn btn-outline-secondary rounded-pill disabled my-2">Newer</a>
</nav>
{%endblock%}