{% extends 'Base.html' %}
{%block tittle%}PMS Vaccine Info{%endblock%}
{%block loginout%}LogOut{%endblock%}
{% block Showbills%}bills/{{parm.poultryName}}{%endblock%}
{% block Showdead%}deads/{{parm.poultryName}}{%endblock%}
{% block Showvaccine%}vaccine/{{parm.poultryName}}{%endblock%}
{% block mainContent%}
{%load static%}


{% for bill in bills %}
{% if bill.totalVaccine == 1 %}
<section class="container category section  pt-3 pb-0">
	<div class="container">
		<div class="row">
			<div >
				<div class="cat-item mb-4 mb-lg-0">
					<div class="item-info d-flex   justify-content-between">
						<div>
						<p class="mb-0"><i class="fa-solid fa-vial-circle-check fa-2x"></i>{{dead.poultryName}}</p>
						<h4 class="mb-4 d-inline-block">Vaccine Came in  :</h4><strong class="h2 fw-bolder fs-1 text-dark">{{ forloop.counter}} Bill</strong>
						<h1>Given date : <strong class=" fw-bolder fs-3 text-dark ">{{bill.posted_date}}</strong></h1>
						</div>
                        <h1 >AT :<strong class="fw-bolder  text-primary" style="font-size:10vh">{{bill.totalDays}}</strong> DAY</h1>
                        
						
					</div>
				</div>
			</div>

        </div>
	</div>
	<hr>
</section>
{%endif%}
{% endfor%}
{% endblock%}