{% extends 'Base.html' %}
{%block tittle%}PMS Bills{%endblock%}
{%block loginout%}LogOut{%endblock%}

{% block mainContent%}
{%load static%}









{% for bill in bills %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ bill.imgfile.url}}" alt="..." loading="lazy"></div>
            <div class="col-md-6">
                <div class="small mb-1">{{bill.posted_date}}</div>
                <h1 class="display-5 fw-bolder">बिल नम्बर {{forloop.counter}} </h1>
                <h1 >AT :<strong class="fw-bolder  text-primary" style="font-size:10vh">{{bill.totalDays}}</strong>दिन</h1>
                <div class="fs-5 mb-5">

                    <span class="fw-bolder ">रकम :रु <strong class="h2">{{bill.totalAmount}}</strong></span>
                </div>
                <div class="d-flex gap-1">


                        {% if bill.totalVaccine %}
                        <button class="btn btn-dark flex-shrink-0" type="button"> खोप : <span class="h4">{{bill.totalVaccine}}</span></button>
                        {% endif %}
                        {% if bill.totalBhus %}
                        <button class="btn btn-dark flex-shrink-0" type="button"> भुस  : <span class="h4">{{bill.totalBhus}}</span></button>
                        {% endif %}
                        {% if bill.TotalChickenFeed %}
                        <button class="btn btn-dark flex-shrink-0" type="button"> दाना: <span class="h4">{{bill.TotalChickenFeed}}</span></button>
                        {% endif %}
                        {% if bill.totalMedicine %}
                        <button class="btn btn-dark flex-shrink-0" type="button"> औषधी : <span class="h4">{{bill.totalMedicine}}</span></button>
                        {% endif %}

                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
{% endfor%}
{% endblock%}